* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-family: 'Signika', sans-serif;
  font-size: 16px; /* 1 rem = 16px */
  font-weight: 300;
  background-color: #444444;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

#slideshow {
  position: fixed;
  z-index: -100;
}

.slide {
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: top;
  background-size: cover;
}

.slide-text {
  margin: 6.2rem 0 0 5.18rem;
}

.slide-text h1 {
  font-size: 3.125rem;
  margin-bottom: 1rem;
}

.slide-text h3{
  font-size: 1.375rem;
  font-weight: 300;
}

/* Header & Control Bar Wrapper (locks H & CB to page size / min height to prevent strange scrolling over slideshow)
======================================================================================================================= */

#controls {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 500px;
  z-index: 100;
}

header {
  visibility: visible;
  height: 62px;
  color: #FFFFFF;
  width: 100%;
  /*opacity: .75;*/
  background-color: rgba(21, 135, 142, .9);
}

header img {
  width: 20px;
  height: 40px;
  margin: 10px 20px 10px 40px;
}

header p {
  display: inline;
  position: relative;
  top: -20px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 1px;
}

header p span {
  font-weight: 300;
  font-size: 24px;
  vertical-align: center;
  margin-left: 20px;
}

.logo {
  display: inline-block;
  width: 20px;
  height: 40px;
  margin: 10px;
}

#cb-wrapper {
  visibility: visible;
  position: relative;
  top: 60%;
  width: 100%;
  z-index: 99;
}

#control-bar {
  background-color: rgba(0, 0, 0, .85);
  width: 100%;
  padding: 20px 85px;
  min-height: 145px;
}

#control-bar h4 {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.cb-datepicker,
.cb-pac,
.cb-submit {
  display: inline-block;
  vertical-align: top;
  margin: 5px 30px 20px 0;
}

.cb-datepicker {
  min-width: 225px;
  width: 30%;
}

.cb-pac {
  min-width: 225px;
  width: 30%;
}

.cb-submit {
  margin: 2.1rem 0 0 0;
}

.cb-icon-cal {
  position: relative;
  top: 0.0rem;
  width: .95rem;
  height: .95rem;
}

.cb-icon-globe {
  position: relative;
  top: 0.1rem;
  width: 1.1rem;
  height: 1.1rem;
}

input {
  background-color: rgba(255, 255, 255, .25);
  transition: background-color 0.5s ease;
  padding: 0 15px;
  width: 100%;
  height: 50px;
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-overflow: ellipsis;
  border-radius: 3px;
  border: none;
}

input:hover {
  background-color: rgba(255, 255, 255, 1);
}

input:focus {
  border-color: #4d90fe;
  background-color: rgba(255, 255, 255, 1);
}

.cb-submit input {
  width: 60px;
  height: 60px;
  background-color: rgba(31, 220, 232, .6);
  border-radius: 50px;
  background-image: url('../images/submit_icon_r.svg');
  background-position: center;
  background-size: cover;
  transition: background-color, box-shadow, 0.5s ease;
}

.cb-submit input:hover {
  background-color: rgba(31, 220, 232, 1);
  box-shadow: 0 0 30px rgba(255, 255, 255, .5);
  cursor: pointer;
  transition: background-color, box-shadow, 0.5s ease;
}

.cb-submit input:active {
  background-color: rgba(31, 220, 232, .6);
  background-image: url("../images/submit_icon_r.svg");
  transition: background-color, box-shadow, 0s;
}

.cb-submit input:focus {
  outline: 0;
}

.pac-container {
  background-color: rgba(255, 255, 255, .95);
  border-radius: 0px 0px 5px 5px;
}

.pac-icon {
  display: none;
}

.pac-item {
  padding: 5px 15px;
}

#map-canvas {
  visibility: hidden;
  height: 0;
}

/*NEEDS REFACTOR TO NEW granule viewer*/

#granule-viewer {
  position: relative;
  /*top: 487px;*/
  padding: 0px 0px 20px 10px;
}

#granule-viewer div.tile {
  position: relative;
  display: inline-block;
  float: left;
  width: 31%;
  height: 0;
  padding-bottom: 31%;
  margin: 0 1% 24px 1%;
  background-color: rgba(200, 200, 200, .8);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#granule-viewer div.tile:hover .infobox {
  opacity: 1;
}

.icon {
  position: relative;
  top: 1rem;
  left: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  opacity: .75;
  border-radius: 50px;
  background-color: #FFFFFF;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('../images/tweet_icon.png');
}

.instagram {
  background-image: url('../images/insta_icon.png');
}

.infobox {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 75%;
  background-color: rgba(0,0,0,.8);
  padding: 1rem;
  transition: opacity 0.5s ease;
}

/*.infobox:hover {
  opacity: 1;
}*/

.infobox h3 {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 300;
}

.infobox h4 {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: .3rem;
}

.infobox p {
  color: #FFFFFF;
  font-size: 1rem;
}

.tile.tweet h3 {
  margin: 2.5rem 0 1.25rem 0;
  padding: 0 1.5rem;
  color: #1c8e95;
  font-size: 1.75vw;
}

.tile.tweet h4 {
  margin: 1.25rem 0 1.25rem 0;
  padding: 0 1.5rem;
  color: #666666;
  font-size: 1.25vw;
  text-transform: uppercase;
}

.tile.tweet p {
  margin: 1.25rem 0 1.25rem 0;
  padding: 0 1.5rem;
  color: #333333;
  font-size: 1.5vw;
  font-weight: 600;
}


/* #Media Queries
================================================== */


@media only screen and (max-width: 767px) {

#controls {
  position: static;
  min-height: 0;
}

#granule-viewer {
  /*top: 13px;*/
  padding: 0px 0px 10px 5px;
}

#granule-viewer div.tile {
  float: left;
  width: 47.5%;
  padding-bottom: 47.5%;
  margin: 0 1% 15px 1%;
}

html {
  font-size: 12px;
}

.slide-text {
  margin: 6rem 0 0 1rem;
}

.slide-text h1 {
  margin-bottom: 0;
}

header {
  margin-bottom: 12rem;
}

header img {
  margin-left: 1rem;
  margin-right: .5rem;
}

header p span {
  font-size: 20px;
  margin-left: 1rem;
  letter-spacing: -0.5px;
}

#control-bar {
  padding: 16px 1rem;
}

.tile.tweet h3 {
  font-size: 3vw;
}

.tile.tweet h4 {
  font-size: 2vw;
}

.tile.tweet p {
  font-size: 2.75vw;
}

}

@media only screen and (max-width: 479px) {

#granule-viewer div.tile {
  float: none;
  width: 97%;
  padding-bottom: 97%;
  margin: 0 1% 10px 1%;
}

.slide-text h3, header p span {
  display: none;
}

header {
  margin-bottom: 10rem;
}

.cb-datepicker, .cb-pac, .cb-submit {
  width: 100%;
  margin-right: 0;
}

.cb-submit {
  margin: 0;
}

.tile.tweet h3 {
  font-size: 6vw;
}

.tile.tweet h4 {
  font-size: 4vw;
}

.tile.tweet p {
  font-size: 6vw;
}

}