  html {
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 400;
  }
  /*html, body, */

  #map-canvas {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0px
  }

  .search-box {
    margin: 20px 20px 20px 20px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    padding: 0 11px 0 20px;
    width: 250px;
    height: 50px;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-weight: 300;
    text-overflow: ellipsis;
  }

  #pac-input:focus {
    border-color: #4d90fe;
    /*margin-left: -1px;*/
    /*padding-left: 14px;   Regular padding-left + 1. */
    /*width: 401px;*/
  }

  .pac-container {
    font-family: Roboto;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 0px 0px 5px 5px;
  }

  .pac-icon {
    display: none;
  }

  .pac-item {
    padding: 10px 22px;
  }

/*  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }*/
