* {
  margin: 0;
  padding: 0;
}
body {
  /*background: url(images/noise_light-grey.jpg);*/
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 200;
}

schmee.button{
    margin: 20px 20px 20px 20px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
  vertical-align: middle;
}

.time {
  width: 100%;
  height: 100px;
  background-color: #99CC66;
  text-align: center;
}
#datepicker {
  width: 25%;
  text-align: right;
  font-size: 2em;
  margin: 20px 20px 20px 20px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


/* ----- Image grids ----- */
ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.rig li h3 {
  margin: 0 0 5px;
}
ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

/* class for 3 columns */
ul.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}


@media (max-width: 1199px) {
  .container {
    width: auto;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 20px;
  }
}

#image-container img {
  float:left;
}
