html{
  background-color: #333333;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

header {
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  opacity: .5;
  background-color: #000000;
}

header img {
  width: 20px;
  height: 40px;
  margin: 10px 10px 10px 20px;
}

header p {
  display: inline;
  vertical-align: top;
  position: relative;
  top: 15px;
  font-size: 30px;
  font-weight:400;
}

.logo {
  display: inline-block;
  width: 20px;
  height: 40px;
  margin: 10px;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.slide-text {
  margin: 100px 0 0 60px;
  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
}

.slide-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.slide-text h3{
  margin-top: 5px
}
